@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=BioRhyme&display=swap');

.container {
  max-width: 1240px;
  margin: auto;
  height: 100%;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: #364547;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
  word-spacing: 5px;
}

h1 {
  color: #364547;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
  word-spacing: 5px;
}

ul {
  list-style-type: none;
}

select {
  width: 95%;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  background: #7868e6;
  color: white;
  margin: 0.2em 0;
  padding: 0 1em;
  border-radius: 10px;
  border: none;
}

input {
  width: 95%;
  height: 40px;
  font-size: 1em;
  margin: 0.2em 0;
  border-radius: 10px;
  border: none;
  background: #edeef7;
  outline: none;
  padding: 0 1em;
}

body {
  margin: 0;
  font-family: -apple-system, Abril+Fatface, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Abril+Fatface, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  button {
    font-size: 13px;
    padding: 17px 19px;
    line-height: 21px;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 24px
  }
}

@media screen and (max-width: 769px) {
  h1 {
    font-size: 24px
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 14px;
    padding: 1rem;
  }

  h2 {
    font-size: 20px;
  }
}